<a href="https://colab.research.google.com/github/Hinakoushar-Tatakoti/Quantifying-the-influence-of-imputing-missing-values-Bike-Sharing-System/blob/main/BSS-Data_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'possible-arbor-361121' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=possible-arbor-361121:US:bquxjob_24d548eb_1843947b048)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_24d548eb_1843947b048') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT * FROM `possible-arbor-361121.bike_share01.bike_share_info`
where DATE(starttime) >= DATE(timestamp('2018-04-01')) AND DATE(starttime) <= DATE(timestamp('2018-06-01'))

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_24d548eb_1843947b048') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (2624910) exceeds max_rows (20000). Falling back to pandas display.

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,eightd_has_key_dispenser,eightd_has_available_keys,num_bikes_available,num_docks_available,num_bikes_disabled,num_docks_disabled,is_renting,is_returning,is_installed,last_reported
0,448,2018-04-13 02:55:44.723,2018-04-13 03:03:13.610,332,Cherry St,40.712199,-73.979481,361,Allen St & Hester St,40.716059,...,False,False,25,8,3,0,True,True,True,2021-11-09
1,410,2018-05-31 19:00:03.252,2018-05-31 19:06:53.535,332,Cherry St,40.712199,-73.979481,307,Canal St & Rutgers St,40.714275,...,False,False,25,8,3,0,True,True,True,2021-11-09
2,1906,2018-04-28 12:19:42.730,2018-04-28 12:51:29.566,332,Cherry St,40.712199,-73.979481,309,Murray St & West St,40.714979,...,False,False,25,8,3,0,True,True,True,2021-11-09
3,463,2018-05-26 10:36:09.603,2018-05-26 10:43:52.904,332,Cherry St,40.712199,-73.979481,349,Rivington St & Ridge St,40.718502,...,False,False,25,8,3,0,True,True,True,2021-11-09
4,2306,2018-05-02 09:53:52.951,2018-05-02 10:32:19.268,332,Cherry St,40.712199,-73.979481,502,Henry St & Grand St,40.714215,...,False,False,25,8,3,0,True,True,True,2021-11-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624905,2100,2018-05-08 14:18:33.607,2018-05-08 14:53:34.158,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3458,W 55 St & 6 Ave,40.763094,...,False,False,32,1,3,0,True,True,True,2021-11-09
2624906,2925,2018-05-03 16:22:10.474,2018-05-03 17:10:55.862,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3137,5 Ave & E 73 St,40.772828,...,False,False,32,1,3,0,True,True,True,2021-11-09
2624907,1435,2018-04-01 15:05:15.849,2018-04-01 15:29:11.518,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3226,W 82 St & Central Park West,40.782750,...,False,False,32,1,3,0,True,True,True,2021-11-09
2624908,9216,2018-04-14 11:08:34.564,2018-04-14 13:42:11.170,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,...,False,False,32,1,3,0,True,True,True,2021-11-09
2624909,1017,2018-05-29 14:43:05.667,2018-05-29 15:00:03.389,3374,Central Park North & Adam Clayton Powell Blvd,40.799484,-73.955613,3163,Central Park West & W 68 St,40.773407,...,False,False,32,1,3,0,True,True,True,2021-11-09

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [4]:
results.describe()

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,birth_year,station_id,region_id,capacity,num_bikes_available,num_docks_available,num_bikes_disabled,num_docks_disabled
count,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2624910.0,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06
mean,1.072139e+03,1.544330e+03,4.073686e+01,-7.398245e+01,1.583527e+03,4.073664e+01,-7.398261e+01,2.622808e+04,1.978443e+03,1.544330e+03,71.0,4.255252e+01,2.354965e+01,1.640393e+01,2.039725e+00,7.090262e-01
std,2.283764e+04,1.420908e+03,3.120878e-02,1.936090e-02,1.434049e+03,3.082768e-02,1.926291e-02,5.815758e+03,1.185696e+01,1.420908e+03,0.0,1.879050e+01,1.918391e+01,1.672578e+01,2.970601e+00,4.674512e+00
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,7.200000e+01,71.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.650000e+02,3.720000e+02,4.071723e+01,-7.399517e+01,3.800000e+02,4.071723e+01,-7.399530e+01,2.060100e+04,1.969000e+03,3.720000e+02,71.0,3.000000e+01,8.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00
50%,6.310000e+02,4.960000e+02,4.073650e+01,-7.398621e+01,5.050000e+02,4.073705e+01,-7.398565e+01,2.792900e+04,1.980000e+03,4.960000e+02,71.0,3.900000e+01,2.100000e+01,1.100000e+01,2.000000e+00,0.000000e+00
75%,1.118000e+03,3.177000e+03,4.075971e+01,-7.397188e+01,3.236000e+03,4.075757e+01,-7.397208e+01,3.109100e+04,1.988000e+03,3.177000e+03,71.0,5.400000e+01,3.400000e+01,2.700000e+01,3.000000e+00,0.000000e+00
max,1.028368e+07,3.686000e+03,4.081439e+01,-7.390774e+01,3.686000e+03,4.081439e+01,-7.390774e+01,3.369000e+04,2.002000e+03,3.686000e+03,71.0,9.100000e+01,7.900000e+01,7.700000e+01,5.700000e+01,4.300000e+01